DATABASE_URL=
DATABASE_URL_UNPOOLED=

SLACK_BOT_TOKEN=
SLACK_SIGNING_SECRET=
SLACK_CHANNEL_FEED_AI=
SLACK_CHANNEL_FEED_TECH=
SLACK_CHANNEL_FEED_OTHER=

MISSKEY_API_TOKEN=
MISSKEY_BASE_URL=https://misskey.io
